<div class="header">
  <p>Your shopping cart</p>
  <span class="example-spacer"></span>
  <p>{{sumBasket() | currency}}</p>
</div>
<mat-divider></mat-divider>
<mat-progress-bar mode="indeterminate" *ngIf="isLoad()"></mat-progress-bar>
<div class="conteiner" *ngIf="basketNotEmpty">
  <mat-card *ngFor="let product of basketProducts()">
    <div class="mat-card-image-block">
      <img class="mat-card-image" mat-card-image src={{product.productImage}} alt="Photo of a Shiba Inu">
    </div>
    <mat-card-header>
      <mat-card-title>{{ product.productTitle }} </mat-card-title>
    </mat-card-header>
    <span class="example-spacer"></span>
    <mat-card-actions>
      <p>{{product.price | currency }}</p>
      <button mat-flat-button (click)="onClickPlus(product)" [disabled]="isLoad()">+</button>
      <p>{{product.quantity }}</p>
      <button mat-flat-button (click)="onClickMinus(product)" [disabled]="isLoad()">-</button>
    </mat-card-actions>
  </mat-card>
</div>
