:host {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
}

mat-sidenav {
  width: 280px;
}

mat-sidenav-content {
  padding: 1.5rem;
}

.example-spacer {
  flex: 1 1 auto;
}

.no-select, .logo {
  cursor: pointer;
  user-select: none;
}

mat-toolbar{
  background-color: #bcb8ac;
}

mat-nav-list{
  border-right: solid #bcb8ac 1px;
  height: calc(100% - 16px);
  margin-top: 10px;
  padding: 0 10px;
}
.mat-mdc-nav-list .mat-mdc-list-item.mdc-list-item--activated{
  background-color: #bcb8ac;
  border-radius: 10px;
}

.mat-mdc-nav-list .mat-mdc-list-item{
  border-radius: 10px;
}
.mat-drawer-container{
  background-color: revert-layer;
}
