<h2 mat-dialog-title>Please log in</h2>
<mat-divider></mat-divider>
<mat-progress-bar mode="indeterminate" *ngIf="myFormLoginPass.disabled"></mat-progress-bar>
<form [formGroup]="myFormLoginPass" class="example-form">
  <mat-dialog-content>
    <mat-form-field>
      <mat-label>Enter your login</mat-label>
      <input formControlName="username" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Enter your password</mat-label>
      <input formControlName="password"  matInput [type]="hide() ? 'password' : 'text'" />
      <button
        mat-icon-button
        matSuffix
        (click)="clickEvent($event)"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide()"
        [disabled]="myFormLoginPass.invalid || myFormLoginPass.disabled"
      >
        <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <div class="red-text" *ngIf="incorrectlogin">Authorization failed. Try again</div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button (click)="onSubmit()" type="submit" [disabled]="myFormLoginPass.invalid || myFormLoginPass.disabled">Login</button>
  </mat-dialog-actions>
</form>
