@use '@angular/material' as mat;

@import "@coreui/coreui/scss/coreui";

:root {
  @include mat.form-field-overrides((
    filled-container-color: white,
  ));
  @include mat.button-overrides((
    filled-container-color: #bcb8ac,
    filled-label-text-color: black,
  ));
  @include mat.table-overrides((
    background-color: white,
  ));
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
